Source: canaima-controladores
Section: metapackages
Priority: standard
Maintainer: Jesus Palencia <sinfallas@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.9.6

Package: canaima-controladores
Architecture: all
Depends: amd64-microcode, atmel-firmware, b43-fwcutter, discover, firmware-linux, firmware-atheros, firmware-b43legacy-installer, firmware-b43-installer, firmware-bnx2, firmware-bnx2x, firmware-brcm80211, firmware-iwlwifi, firmware-libertas, firmware-ralink, firmware-realtek, hplip, hwdata, hwinfo, intel-microcode, libgl1-mesa-dri, linux-wlan-ng, printer-driver-all, printer-driver-all-enforce, system-config-printer, system-config-printer-udev, vainfo, x11-touchscreen-calibrator, xinput, xinput-calibrator, xorg, xserver-xorg-input-all, xserver-xorg-input-elographics, xserver-xorg-input-multitouch, xserver-xorg-video-all, mdetect, pcmciautils, va-driver-all, hp-ppd, jmtpfs, mtp-tools, mtpfs, bluetooth
Description: canaima-controladores
 Paquete de controladores para Canaima
